* {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: black;
    text-align: center;
}

a {
    color: #FF851B;   
}

ul {
    list-style-type: none;   
}

h1 {
    padding-top: 50px;
    color: lightpink;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 50px;
    background-image: url("34466756650_b72efde3ab_k.jpg");
    background-position: center;
}

p,
li {
    font-size: 20px;
    color: lightcyan;
}

.leftside {
    background-color: lightcoral;
}

.rightside {
    background-color: plum;
}

.break {
    color: crimson;
}
