* {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: black;
}


h1 {
    color: lightpink;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

p,
li {
    font-size: 20px;
    color: lightcyan;
}

.leftside {
    background-color: lightcoral;
}

.rightside {
    background-color: plum;
}
