* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


h1 {
    color: lightpink;
}

p,
li {
    font-size: 20px;
    color: lightcyan;
}

.leftside {
    background-color: lightcoral;
}

.rightside {
    background-color: plum;
}
